//settings
$font-main: "Albert Sans", sans-serif;
$fontIcon: "icomoon";

:root{
    // color
    --main: rgb(0, 0, 0);
    --white: #ffffff;
    --primary: #db1215;
    --red_1: #db1215;
    --backdrop: rgba(0, 0, 0, 0.5);

    // rgba color
    --main-rgba-1: rgba(0, 0, 0, 0.16);
    --main-rgba-2: rgba(0, 0, 0, 0.15);

    // text color
    --text: rgb(84, 84, 84);
    --text-2:#909090;
    --text-3:#868686;
    --line: rgb(235, 235, 235);
    --line-2: rgb(236, 236, 236);
    // background color
    --bg-1: #fcfbf9;
    --bg-2: #f6f6f6;
    --bg-3: #fcffb2;
    --bg-4: #c9f4aa;
    --bg-5: #ff7b54;
    --bg-6: #8054ff;
    --bg-7: #f1f0ed;
    --bg-8: #f0edf1;
    --bg-9: #edeef1;
    --bg-10: rgb(252, 251, 249);
    --bg-11: rgb(242, 242, 242);


    --bg-load: #d9d9d9;

    --bg-scrollbar-track: rgb(241,241,241);
    --bg-scrollbar-thumb: rgb(193,193,193);
}

.color-primary-2{
    --primary:#814037;
}

.color-primary-3{
    --primary:#93f859;
}

.color-primary-4{
    --primary:#000;
}